{% extends 'core/base.html' %}

{% block title %} Log In | {% endblock %}

{% block content %}

<div class="columns" id="signup-app">
    <div class="column is-6 is-offset-3">
        <form method="post" class="mt-6" action=".">
            {% csrf_token %}

            {% if form.errors %}
            <div class="notification is-danger">
                {{ form.non_field_errors }}

                {% for field in form %}
                {% if field.errors %}{{ field.label }}: {{ field.errors|striptags }}{% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <div class="field">
                <label>E-mail</label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input" name="username" id="id_username" type="email" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>

            <div class="field">
                <label>Password</label>
                <p class="control has-icons-left">
                    <input class="input" name="password" id="id_password" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-success">
                        Log In
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}