{% extends 'core/base.html' %}

{% load static %}

{% block title %} Home | {% endblock %}

{% block content %}

<section class="hero is-medium is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Welcome to time tracking
            </h1>
            <h2 class="subtitle">
                A simple time tracker and timesheet app that lets you track work hours across projects.
            </h2>
        </div>
    </div>
</section>

<div class="container">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <div class="columns is-align-items mt-6">
                <div class="column is-4 image">
                    <img src="{% static 'images/feacture-1.png' %}" alt="Feactures">
                </div>
                <div class="column is-8 text">
                    <h2 class="subtitle has-text-weight-semibold">Budgeting time better</h2>
                    <p>Having accurate data on the actual spending of time on specific activities, greatly improves the ability to project new tasks and, above all, gain credibility in the hourly budgets that you prepare for potential clients.</p>
                </div>
            </div>
            <div class="columns is-align-items mt-6">
                <div class="column is-8 text">
                    <h2 class="subtitle has-text-weight-semibold">Helps to improve concentration</h2>
                    <p>Time Tracking improves concentration on a single task during a period that you have defined for this purpose. This will influence the increase in productivity.</p>
                </div>
                <div class="column is-4 image">
                    <img src="{% static 'images/feacture-2.png' %}" alt="Feactures">
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-align-items-center mt-6">
        <div class="column is-4 is-offset-4 has-text-centered">
            <h2 class="subtitle">
                Let's get started
            </h2>
            <a href="#" class="button is-success is-larget">
                Get a free account
            </a>
        </div>
    </div>
</div>

{% endblock %}
